@page
@model SaillingLoc.Pages.MyReservationsModel
@{
    ViewData["Title"] = "Mes Réservations";
}

<a asp-page="/Manage"
   class="btn"
   style="background-color: #AD7C59; color: white; position: absolute; top: 20px; right: 80px;">
   Gérer mes réservations reçues
</a>



@* 
<a asp-page="/Manage" class="btn mb-3" style="background-color: #AD7C59; color: white;">
    Gérer mes réservations reçues
</a> *@


<h2>Mes Réservations</h2>



@if (Model.Reservations == null || !Model.Reservations.Any())
{
    <p>Vous n'avez pas encore de réservations.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Référence</th>
                <th>Bateau</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Prix total</th>
                 <th>Statut</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var res in Model.Reservations)
        {
            <tr>
                <td>@res.Reference</td>
                <td>@(res.Boat != null ? res.Boat.Name : "<em>Bateau supprimé</em>")</td>
                <td>@res.StartDate.ToShortDateString()</td>
                <td>@res.EndDate.ToShortDateString()</td>
                <td>@res.TotalPrice.ToString("C")</td>
                 <td>@res.Status.ToString()</td>
            </tr>
        }
        </tbody>
    </table>
}
